<div class="tournament">
  <h2><a href="/tournaments">Back to Home</a></h2>

  <h1><%= @tournament.name %></h1>
  <%= erb :'/tournaments/_tournament_description', locals: { tournament: @tournament } %>
  <div class="event-container">
  <% @events.each do |event| %>
    <div class="event">
      <h2><u><%= event.name %></u></h2>
      <ul>
        <li>Entrant count: <%= event.entrants.count %></li>
        <li><a href=<%= event.smash_gg_link %>>Event Link</a></li><br>
        <u>Full Results</u><br>
        <% event.results.each do |placing| %>
          <span><a href="/players/<%= placing.player.id %>"><%= placing.placing %><%= get_suffix(placing.placing) %>: <%= placing.player.full_tag %></a></span><br>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</div>